html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 0;
    margin: 0;
}

body > div {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

header.page,
main.page,
footer.page {
    margin: 0 auto;
    width: 80%;
}

section div.image-section img {
    width: 100%;
    height: auto;
}