header {
    text-align: right;
}

ul.education {
    list-style-type: none;  
    padding-left: none;
    padding-left: 0;
}

ul.education li {
    padding-left: 2em;
}

ul.education li:first-of-type {
    padding-left: 0;
    padding-bottom: 1em;
}

ul.experience {
    list-style-type: none;
    padding-left: 0;
}

ul.experience .title {
    text-transform: uppercase;
}

ul.experience li .job {
    font-weight: bold;
}

ul.experience li .position {
    font-style: italic;
}

ul.experience li .date {
    font-style: italic;
}

ul.experience > li {
    padding-bottom: 1em;
}

ul.experience ul.duties {
    list-style-type: disc;
    padding-left: 1em;
}

section > h2 {
    text-transform: uppercase;
}