/* define font face for code new roman */
@font-face {
    font-family: "Code New Roman";
    src: url("Code New Roman.woff");
}

/* media queries */
@media screen and (max-width: 539px) {
    section.pitch {
        padding: 8px !important;
    }

    header * {
        font-size: 0.85em !important;
    }

    section .explanation {
        font-size: 0.5em !important;
    }
}

@media screen and (max-width: 740px) {
    div.resume {
        font-size: 0.975vw !important;
    }
}

/* global styles */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    background: #9a3400;
    background: -moz-linear-gradient(top, #9a3400 0%, #ff5ebf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9a3400), color-stop(100%, #7db9e8));
    background: -webkit-linear-gradient(top, #9a3400 0%, #ff5ebf 100%);
    background: -o-linear-gradient(top, #9a3400 0%, #ff5ebf 100%);
    background: -ms-linear-gradient(top, #9a3400 0%, #ff5ebf 100%);
    background: linear-gradient(to bottom, #9a3400 0%, #ff5ebf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a3400', endColorstr='#ff5ebf', GradientType=0);
    background-attachment: fixed;
}
body {
    font-family: "Courier New", Courier, monospace;
    margin: 0 auto;
    width: 70%;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
    background: #9a3400;
    background: -moz-linear-gradient(top, #9a3400 0%, #ff5ebf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9a3400), color-stop(100%, #7db9e8));
    background: -webkit-linear-gradient(top, #9a3400 0%, #ff5ebf 100%);
    background: -o-linear-gradient(top, #9a3400 0%, #ff5ebf 100%);
    background: -ms-linear-gradient(top, #9a3400 0%, #ff5ebf 100%);
    background: linear-gradient(to bottom, #9a3400 0%, #ff5ebf 100%);
}
 
body::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #85f55c;
    outline: 1px solid #708090;
}

/* header and contact information */

header h1,
header h2,
header h3 {
    color: #ffffff;
    text-shadow: 0 0 2px #fe5dbd, 1px 1px 2px #fe5dbd;
}

header h1 {
    font-size: 26pt;
    color: #85f55c;
}

header .contact h4 {
    font-size: 12pt;
    color: #ffb9e2;
    font-style: italic;
}

header {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
}

header .headline {
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    width: 50%;
}

header .headline h2 {
    font-size: 22pt;
    color: #ffffff;
    text-align: center;
}

header .contact h3.name {
    text-transform: uppercase;
    font-size: 26px;
    padding-bottom: 0.65em;
}

header .contact {
    width: 50%;
    padding-top: 7em;
    display: flex;
    flex-direction: column;
    text-align: right;
}

header .contact h3,
header .contact h4 {
    margin: 0;
}

header .contact a.phone {
    text-decoration: none;
    color: #ffb9e2;
}

header .contact a.phone:hover,
header .contact a.phone:active {
    color: #b280d6;
}

/* content sections */
section {
    width: 100%;
}

section img {
    display: flex;
    width: 100%;
}

section.splash .splash-image {
    background-color: #855fa0;
    border: 5px solid #855fa0;
    margin: 0px;
}

section.splash .explanation {
    text-align: right;
    font-style: italic;
}

.explanation {
    font-size: 1.25vw;
    color: #ffb9e2;
    font-weight: bold;
    margin-top: 12px;
}

section {
    margin-top: 4em;
}

section.interview {
    padding-top: 4em;
}

section.interview .interview-text {
    font-size: 1.25vw;
    text-align: justified;
    color: #85f55c;
    background-color: #855fa0;
    padding: 5vw;
    border: 5px solid #85f55c;
    margin: 0px;
}

section.interview .interview-text a {
    color: inherit;
}

@keyframes blinking {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

section.interview .interview-text .quod-erat-demonstrandum {
    animation: blinking 0.5s infinite;
    animation-direction: alternate;
    display: inline-block;
    content: ' ';
    width: 0.7em;
    height: 0.7em;
    background-color:  #85f55c;
}

section.interview .question {
    margin-top: 1em;
    font-weight: bold;
}

section.interview .emphasis {
    text-decoration: underline;
}

section.interview div.answer:last-child {
    padding-bottom: 2em;
}

section.interview .interview-text h2 {
    font-size: 2vw; 
    text-shadow: 0 0 3px #b280d6, 1px 1px 3px #fe5dbd;
    color: #85f55c;
}

section.interview .interview-text h5 {
    font-size: 1vw;
    text-align: justified;
    color: #85f55c;
    font-style: italic;
    padding-bottom: 2em;
}

section.interview .interview-text a {
    color: #fe5dbd;
}

section.interview .interview-text a:hover,
section.interview .interview-text a:active {
    color: #b280d6;
}


section.interview .question,
section.interview .answer {
    line-height: 1.5em;
}

section.interview .explanation {
    font-style: italic;
    text-align: right;
}

section.interview .explanation a {
    font-weight: normal;
    color: #ffb9e2;
}

section.workstation {
    padding-top: 3em;
    padding-bottom: 6em;
}

section.workstation .workstation-image {
    color: #ff8f47;
    background-color: #ff8f47;
    border: 5px solid #626262;
}

section.workstation .explanation {
    text-align:     right;  
    font-style: italic; 
    padding-bottom: 8em;
}   

section.pitch {
    padding: 11.31337vw;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 90%;
    color: #ff8f47;
    text-shadow: 1px 1px 3px #424242;
    background-color: #626262;
    border: 5px solid #ff8f47;
    margin: 0 auto;
    font-size: 2vw;
}

section.pitch .pitch-text {
    font-weight: bold;
    overflow-wrap: break-word;
}

section.pitch .pitch-posted {
    font-style: italic;
}

section.resume {
    padding-top: 9em;
}

section.resume .download-link {
    font-size: 2.5vw;
    font-weight: bold;
}

section.resume a {
    color: #ffffff;
    text-decoration: none;
}

section.resume a {
    color: #ffffff;
}

section.resume a:hover {
    color: #fe5dbd;
}

section.resume .explanation {
    color: #ffb9e2;
    font-style: italic;
}

section.resume .resume-image {
    color: #ffffff;
    font-size: 18pt;
    text-align: left;
    background-color: #473ebf;
    border: 5px solid #ffffff;
    margin: 0px;
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

section.resume .resume-image {
    width: 100%;
}

section.students {
    padding-top: 2em;
}

section.students .students-image {
    color: #473ebf;
    font-size: 18pt;
    text-align: left;
    background-color: #ffffff;
    border: 5px solid #473ebf;
    margin: 0px;
}

section.students .explanation {
    font-size: 10pt;
    color: #ffb9e2;
    text-align: right;
    font-style: italic;
    font-weight: bold;
}

section.video-portfolio {
    padding-top: 6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

section.video-portfolio .explanation {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    padding: 1em;
}

section.video-portfolio .explanation h2 {
    color: white;
    padding-top: 2em;
    font-weight: 700;
    font-size: 22pt;
    margin-top: 0;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
}

section.video-portfolio .explanation h2 {
    font-size: 2.5vw;
}

section.video-portfolio .explanation p {
    font-size: 12pt;
    color: #ffb9e2;
    font-style: italic;
    padding: 30px;
    padding-top: 15px;
}

section.video-portfolio .explanation p {
    font-size: 1.35vw;
}

section.video-portfolio .explanation .available {
    text-decoration: underline;
}

section.video-portfolio .portfolio-image {
    margin: 0px;
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    width: auto;
    height: 100%;
}

section.video-portfolio .portfolio-image img {
    border: 5px solid #fe5dbd;
}

section.video-portfolio > div.explanation {
    font-size: 1vw;
}

/* resume styles */
ul.education {
    list-style-type: none;  
    padding-left: none;
    padding-left: 0;
}

ul.education li {
    padding-left: 2em;
}

ul.education li .title {
    font-weight: bold;
}

ul.education li .completion,
ul.education li .program {
    font-style: italic;
}

ul.education li:first-of-type {
    padding-left: 0;
    padding-bottom: 1em;
}

ul.experience {
    list-style-type: none;
    padding-left: 0;
}

ul.experience .title {
    text-transform: uppercase;
}

ul.experience li .job {
    font-weight: bold;
}

ul.experience li .position {
    font-style: italic;
}

ul.experience li .date {
    font-style: italic;
}

ul.experience > li {
    padding-bottom: 1em;
}

ul.experience ul.duties {
    list-style-type: disc;
    padding-left: 1em;
}

section > h2 {
    text-transform: uppercase;
    margin-bottom: 0.45em;
}

.resume-header {
    text-align: right;
}

div.resume {
    font-family: "Code New Roman";

    margin: 4em 4em;
}

div.resume hr {
    width: 100%;
    border-width: 0;
}

div.resume hr::before {
    width: 100%;
    display: block;
    position: relative;
    content: ' ';
    height: 5px;
    background-color: #fff;
}

div.resume .resume-header .contact p {
    margin: 0;
}

div.resume .resume-header .contact p.name {
    font-weight: bold;
    font-size: 1.65em;
}

div.resume .resume-header .contact p.email {
    font-style: italic;
}

div.resume .resume-header .contact p.phone a {
    font-style: italic;
}

div.resume .resume-header .contact span.location {
    font-style: italic;
}

div.resume {
    font-size: 1vw;
}

.aspect-ratio-box {
    height: 0;
    overflow: hidden;
    padding-top: calc(500 / 400 * 100%);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.255);
}

.aspect-ratio-box-inside {
    position: absolute;
    overflow-y: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.aspect-ratio-box ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    background-color: #473ebf !important;
}
 
.aspect-ratio-box ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #1f198f !important;
    outline: 1px solid #708090;
}

/* footer */
footer {
    text-align: center;
    font-size: 1.25vw;
    color: #b84139;
    font-style: italic;
    font-weight: bold;
    margin-top: 4em;
    margin-bottom: 2em;
}